{% extends 'admin/base.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = [
        {'name': t('Settings','core')}
    ] %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% for model, data in models %}
        {% set htmlForm = this.beginWidget('MActiveForm', {
            'id': 'setting-form',
            'enableAjaxValidation': true,
        }, true)|raw %}

        <h2>{{ data.model.name }}</h2>
        {% if data.form %}
            {{ htmlForm.errorSummary(data.model)|raw }}

            <table class="table-main">
                {{ data.form.setForm(htmlForm).asTable()|raw }}
            </table>

            <input type="submit" value="{{ t('Save', 'core') }}" />
        {% endif %}

        {{ this.endWidget }}
    {% endfor %}

{% endblock %}
